---
import { Icon } from 'astro-icon/components';
import { SITE } from 'portfolio:config';

interface Link {
  ariaLabel?: string;
  href?: string;
  icon?: string;
}

export interface Props {
  socialLinks: Array<Link>;
}

const { socialLinks = [] } = Astro.props;
---

<footer class="relative border-t border-gray-200 dark:border-slate-800 not-prose">
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 py-6">
    <div class="flex items-center justify-between py-6 md:py-8">
      <!-- SITE Name Section -->
      <div class="text-sm font-medium dark:text-gray-300">{SITE?.name || 'Kota Kobayashi'}</div>

      <!-- Social Links Section -->
      <ul class="flex space-x-4">
        {socialLinks.map(({ ariaLabel, href, icon }) => (
          <li>
            <a
              class="flex items-center justify-center w-10 h-10 rounded-full text-muted dark:text-gray-400 hover:text-link dark:hover:text-white bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-600 transition-all"
              aria-label={ariaLabel}
              href={href}
            >
              {icon && <Icon name={icon} class="w-5 h-5" />}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</footer>